<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Alzahrani.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AlzahraniOneSignalPushNotificaitonService.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>AlzahraniSharing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F0546FDE1EE8412700900D03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F08C46651EB31A2B00E39298</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F08C467C1EB31A2C00E39298</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F08C46871EB31A2C00E39298</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0BBF2751F14B27900D9D6FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
